* {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

body {
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
}

body,
header,
nav,
footer {
  background-color: gray;
  border: 1px solid black;
}

#imagen {
  background: url("../EjercicioPagina/txurdi.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 10%;
  min-height: 60px;
  display: inline-block;
  margin: 1em 35em 0 0;
}

#navegacion {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex: 5;
  flex-grow: 5;
  flex-shrink: 5;
}
