*{
	margin: 0 auto;
	padding: 0;
}

body{
	height: 100%;
	width: 100%;
	text-align: center;
	color: white;
}

header, nav, footer{
	margin: 5px auto;
	background-color: red;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;

	font-size: 3.125em;
}

nav{
	background-color: purple;
}

article{
	border-radius: 5px;
	background-color: orange;
	display: inline-block;
	vertical-align: top;
	line-height: 50px;


	font-size: 1.875em;
}

section{
	background-color: green;
	margin: 5px auto;
}

aside{
	border-radius: 5px;
	margin: auto;
	background-color: blue;
	display: inline-block;
	vertical-align: top;
	line-height: 50px;

	font-size: 1.25em;
}

div#contenedor{
	margin: 5px auto;
	min-height: 300px;
	min-width: 80%;
}

@media screen and (min-width:701px) {
    /* Para Ordenadores*/
    body{
    	font-size: 16px;
    }

    header, nav, footer{
		min-height: 65px;
		min-width: 80%;
	}

	article{
		min-width: 64%;
		min-height: 300px;
	}

	section{
		min-width: 90%;
		min-height: 200px;
	}

	aside{
		min-width: 34%;
		min-height: 300px;
	}
}

@media (max-width: 700px) and (min-width:501px) {
    /* Para Tablets*/
    body{
    	/*Definimos el tamaño base de la fuente para la pagina*/
		font-size: 10px;
    }

	header, nav, div#contenedor, article, section, aside{
		width: 100%;
	}

    header, nav, footer{
	}

	article{
	}
	
	article, section{
		min-height: 70%;
	}

	aside{
		margin-top: 1%;
		min-height: 26%;
	}
}

@media screen and (max-width: 500px) {
    /* Para moviles: */
    body{
    	/*Definimos el tamaño base de la fuente para la pagina*/
		font-size: 6px;
    }

    header, nav, div#contenedor, article, section, aside{
		width: 100%;
	}

	header, nav, footer{
	}

	article{
	}

	article, section{
		min-height: 70%;	
	}

	aside{
		margin-top: 1%;
		min-height: 26%;
	}

	footer{
		display: none;
	}
}