ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
     background: -webkit-linear-gradient(left, rgba(255,228,198,0) 0%,rgba(183,87,3,1) 100%);
}



li {
    align-items: center;
    float: right;
}
li a {
    display: block;
  	color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


body {
    background-image: url("img/atzekalde2.jpg");
    background-size: cover;

}

h3 {
	color: green;
	text-decoration: underline;
    border-bottom: 2px solid green;

}

article {
	float : left;
	width : 60%;
}

article img{
    width: 30%;
    height: auto;
}

h4 {
	color: green;

}

aside:after {
	content : "";
	display:  table;
	clear: both;
}

footer{
    background: -webkit-linear-gradient(left, rgba(255,228,198,0) 0%,rgba(183,87,3,1) 100%);
}