body{ background-color:#333;font-size:16px;}
header h1 a {
font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
font-size: 44px;
font-style: normal;
font-weight: bold;
text-decoration:none;
color: #111;
transition: color 2s;
-webkit-transition: color 2s;
}
header h1 a:hover, header h1 a:focus{color:#fff;}

#content{background: #f2f2f2; padding:0.9375em}
#code{ border:1px solid #d9d9d9; background-color:#fff; padding:50px 0 50px 50px;}
#Canvas1 {
				border: solid 1px #d9d9d9;
			}
h4{ font-size:20px;}
.red{ color:red}