body {
  width: 90%;
  margin: auto;
}
header,
nav,
footer {
  border: 2px solid blue;
  min-height: 20px;
  border-radius: 25px;
  border: 1px solid blue;
  padding: 20px;
  width: auto;
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff4c00+0,ff4c00+29,ff4c00+49,fc5800+69,f16c57+69,ff4c00+69,ff4c00+100&1+0,0+100 */
  background: -moz-linear-gradient(
    left,
    rgba(255, 76, 0, 1) 0%,
    rgba(255, 76, 0, 0.71) 29%,
    rgba(255, 76, 0, 0.51) 49%,
    rgba(255, 76, 0, 0.31) 69%,
    rgba(255, 76, 0, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 76, 0, 1) 0%,
    rgba(255, 76, 0, 0.71) 29%,
    rgba(255, 76, 0, 0.51) 49%,
    rgba(255, 76, 0, 0.31) 69%,
    rgba(255, 76, 0, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(255, 76, 0, 1) 0%,
    rgba(255, 76, 0, 0.71) 29%,
    rgba(255, 76, 0, 0.51) 49%,
    rgba(255, 76, 0, 0.31) 69%,
    rgba(255, 76, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4c00', endColorstr='#00ff4c00',GradientType=1 );
  /* IE6-9 */
}
section {
  min-height: 500px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  border: 1px solid blue;
  text-align: center;
}

#imagen {
  border: 10px solid #f95f3e;
  border-radius: 100%;
  background: url("../Ejercicio\ Flex/Imagen1.JPG");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4%;
  min-height: 60px;
  display: inline-block;
  vertical-align: right;
  margin: 1em 35em 0 0;
}
#formulario {
  display: none;
  border: 4px solid red;
  background-color: #f95f3e;
  padding: 1em 1em 1em 1em;
  text-align: left;
  overflow: auto;
}
#imagen:hover #formulario {
  float: right;
  display: block;
  background-color: rgba(229, 81, 2, 0.9);
  border: 4em solid red;
  border-radius: 1em;
  font-size: 0.75em;
  margin-top: 4em;
  margin-right: 0em;
  position: absolute;
}
#uno {
  border-radius: 25px;
  border: 1px solid blue;
  min-width: 350px;
  flex: 3;
  text-align: center;
  background-color: grey;
}
#dos {
  border-radius: 25px;
  border: 1px solid blue;
  min-width: 250px;
  flex: 1;
  text-align: center;
  background-color: grey;
}
#tres {
  border-radius: 25px;
  border: 1px solid blue;
  min-width: 250px;
  flex: 1;
  text-align: center;
  background-color: grey;
}
